.stars {
  color: #FFCD51;
  margin-left: 0.25rem;
}

.stars svg {
  transition: all .5s ease;
}

.stars svg:hover {
  transform: scale(1.5);

  &:not(:first-child) {
    margin-left: 0.2em;
  }

  &:not(:last-child) {
    margin-right: 0.2em;
  }
}
